.elementor-33 .elementor-element.elementor-element-f8a0abe>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-33 .elementor-element.elementor-element-f8a0abe:not(.elementor-motion-effects-element-type-background),
.elementor-33 .elementor-element.elementor-element-f8a0abe>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-a291686);
}

.elementor-33 .elementor-element.elementor-element-f8a0abe {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: var( --e-global-color-5972989);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    z-index: 9;
}

.elementor-33 .elementor-element.elementor-element-f8a0abe>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-33 .elementor-element.elementor-element-dab40f3>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-33 .elementor-element.elementor-element-dab40f3>.elementor-element-populated {
    padding: 7px 7px 7px 7px;
}

.elementor-33 .elementor-element.elementor-element-84303c1 .elementor-icon-list-icon i {
    color: var( --e-global-color-100efa4);
    transition: color 0.3s;
}

.elementor-33 .elementor-element.elementor-element-84303c1 .elementor-icon-list-icon svg {
    fill: var( --e-global-color-100efa4);
    transition: fill 0.3s;
}

.elementor-33 .elementor-element.elementor-element-84303c1 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-33 .elementor-element.elementor-element-84303c1 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-33 .elementor-element.elementor-element-84303c1 .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-112b6c4-font-family), Sans-serif;
    font-size: var( --e-global-typography-112b6c4-font-size);
    font-weight: var( --e-global-typography-112b6c4-font-weight);
}

.elementor-33 .elementor-element.elementor-element-84303c1 .elementor-icon-list-text {
    transition: color 0.3s;
}

.elementor-33 .elementor-element.elementor-element-89c39f2>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-33 .elementor-element.elementor-element-89c39f2>.elementor-element-populated {
    padding: 7px 7px 7px 7px;
}

.elementor-33 .elementor-element.elementor-element-e74d598 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 14px;
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}

.elementor-33 .elementor-element.elementor-element-e74d598 .elementor-widget-container {
    text-align: right;
}

.elementor-33 .elementor-element.elementor-element-e74d598 .elementor-social-icon {
    background-color: #02010100;
}

.elementor-33 .elementor-element.elementor-element-e74d598 .elementor-social-icon i {
    color: var( --e-global-color-100efa4);
}

.elementor-33 .elementor-element.elementor-element-e74d598 .elementor-social-icon svg {
    fill: var( --e-global-color-100efa4);
}

.elementor-33 .elementor-element.elementor-element-e74d598 .elementor-social-icon:hover i {
    color: var( --e-global-color-3460580);
}

.elementor-33 .elementor-element.elementor-element-e74d598 .elementor-social-icon:hover svg {
    fill: var( --e-global-color-3460580);
}

.elementor-33 .elementor-element.elementor-element-604ea96>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-33 .elementor-element.elementor-element-604ea96:not(.elementor-motion-effects-element-type-background),
.elementor-33 .elementor-element.elementor-element-604ea96>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-a291686);
}

.elementor-33 .elementor-element.elementor-element-604ea96 {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-33 .elementor-element.elementor-element-604ea96>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-33 .elementor-element.elementor-element-c78c334 {
    text-align: left;
}

.elementor-33 .elementor-element.elementor-element-30950be .elementor-menu-toggle {
    margin: 0 auto;
    background-color: #02010100;
}

.elementor-33 .elementor-element.elementor-element-30950be .elementor-nav-menu .elementor-item {
    font-family: var( --e-global-typography-520c191-font-family), Sans-serif;
    font-size: var( --e-global-typography-520c191-font-size);
    font-weight: var( --e-global-typography-520c191-font-weight);
}

.elementor-33 .elementor-element.elementor-element-30950be .elementor-nav-menu--main .elementor-item {
    color: var( --e-global-color-dea41e4);
    fill: var( --e-global-color-dea41e4);
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.elementor-33 .elementor-element.elementor-element-30950be .elementor-nav-menu--main .elementor-item:hover,
.elementor-33 .elementor-element.elementor-element-30950be .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-33 .elementor-element.elementor-element-30950be .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-33 .elementor-element.elementor-element-30950be .elementor-nav-menu--main .elementor-item:focus {
    color: var( --e-global-color-100efa4);
    fill: var( --e-global-color-100efa4);
}

.elementor-33 .elementor-element.elementor-element-30950be .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: var( --e-global-color-3460580);
}

.elementor-33 .elementor-element.elementor-element-30950be {
    --e-nav-menu-divider-content: "";
    --e-nav-menu-divider-style: solid;
    --e-nav-menu-divider-width: 5px;
    --e-nav-menu-divider-height: 5px;
    --e-nav-menu-divider-color: var( --e-global-color-100efa4);
    --e-nav-menu-horizontal-menu-item-margin: calc( 35px / 2);
}

.elementor-33 .elementor-element.elementor-element-30950be .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 35px;
}

.elementor-33 .elementor-element.elementor-element-30950be .elementor-nav-menu--dropdown a,
.elementor-33 .elementor-element.elementor-element-30950be .elementor-menu-toggle {
    color: var( --e-global-color-dea41e4);
}

.elementor-33 .elementor-element.elementor-element-30950be .elementor-nav-menu--dropdown {
    background-color: var( --e-global-color-a291686);
    border-radius: 10px 10px 10px 10px;
}

.elementor-33 .elementor-element.elementor-element-30950be .elementor-nav-menu--dropdown a:hover,
.elementor-33 .elementor-element.elementor-element-30950be .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-33 .elementor-element.elementor-element-30950be .elementor-nav-menu--dropdown a.highlighted,
.elementor-33 .elementor-element.elementor-element-30950be .elementor-menu-toggle:hover {
    color: var( --e-global-color-a291686);
}

.elementor-33 .elementor-element.elementor-element-30950be .elementor-nav-menu--dropdown a:hover,
.elementor-33 .elementor-element.elementor-element-30950be .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-33 .elementor-element.elementor-element-30950be .elementor-nav-menu--dropdown a.highlighted {
    background-color: var( --e-global-color-100efa4);
}

.elementor-33 .elementor-element.elementor-element-30950be .elementor-nav-menu--dropdown a.elementor-item-active {
    color: var( --e-global-color-a291686);
    background-color: var( --e-global-color-3460580);
}

.elementor-33 .elementor-element.elementor-element-30950be .elementor-nav-menu--dropdown .elementor-item,
.elementor-33 .elementor-element.elementor-element-30950be .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: var( --e-global-typography-520c191-font-family), Sans-serif;
    font-size: var( --e-global-typography-520c191-font-size);
    font-weight: var( --e-global-typography-520c191-font-weight);
}

.elementor-33 .elementor-element.elementor-element-30950be .elementor-nav-menu--dropdown li:first-child a {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.elementor-33 .elementor-element.elementor-element-30950be .elementor-nav-menu--dropdown li:last-child a {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.elementor-33 .elementor-element.elementor-element-30950be .elementor-nav-menu--main .elementor-nav-menu--dropdown,
.elementor-33 .elementor-element.elementor-element-30950be .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

.elementor-33 .elementor-element.elementor-element-30950be div.elementor-menu-toggle {
    color: var( --e-global-color-100efa4);
}

.elementor-33 .elementor-element.elementor-element-30950be div.elementor-menu-toggle svg {
    fill: var( --e-global-color-100efa4);
}

.elementor-33 .elementor-element.elementor-element-30950be div.elementor-menu-toggle:hover {
    color: var( --e-global-color-3460580);
}

.elementor-33 .elementor-element.elementor-element-30950be div.elementor-menu-toggle:hover svg {
    fill: var( --e-global-color-3460580);
}

.elementor-33 .elementor-element.elementor-element-249e69d .elementor-button-content-wrapper {
    flex-direction: row;
}

.elementor-33 .elementor-element.elementor-element-249e69d .elementor-button .elementor-button-content-wrapper {
    gap: 7px;
}

@media(max-width:1024px) {
    .elementor-33 .elementor-element.elementor-element-84303c1 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-33 .elementor-element.elementor-element-84303c1 .elementor-icon-list-item>a {
        font-size: var( --e-global-typography-112b6c4-font-size);
    }
    .elementor-33 .elementor-element.elementor-element-30950be .elementor-nav-menu .elementor-item {
        font-size: var( --e-global-typography-520c191-font-size);
    }
    .elementor-33 .elementor-element.elementor-element-30950be .elementor-nav-menu--dropdown .elementor-item,
    .elementor-33 .elementor-element.elementor-element-30950be .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var( --e-global-typography-520c191-font-size);
    }
    .elementor-33 .elementor-element.elementor-element-30950be {
        --nav-menu-icon-size: 35px;
    }
}

@media(max-width:767px) {
    .elementor-33 .elementor-element.elementor-element-84303c1 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-33 .elementor-element.elementor-element-84303c1 .elementor-icon-list-item>a {
        font-size: var( --e-global-typography-112b6c4-font-size);
    }
    .elementor-33 .elementor-element.elementor-element-179d4d1 {
        width: 80%;
    }
    .elementor-33 .elementor-element.elementor-element-c78c334 {
        text-align: right;
    }
    .elementor-33 .elementor-element.elementor-element-30f3a6a {
        width: 20%;
    }
    .elementor-33 .elementor-element.elementor-element-30950be .elementor-nav-menu .elementor-item {
        font-size: var( --e-global-typography-520c191-font-size);
    }
    .elementor-33 .elementor-element.elementor-element-30950be .elementor-nav-menu--dropdown .elementor-item,
    .elementor-33 .elementor-element.elementor-element-30950be .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var( --e-global-typography-520c191-font-size);
    }
    .elementor-33 .elementor-element.elementor-element-30950be {
        --nav-menu-icon-size: 28px;
    }
}

@media(min-width:768px) {
    .elementor-33 .elementor-element.elementor-element-179d4d1 {
        width: 15%;
    }
    .elementor-33 .elementor-element.elementor-element-30f3a6a {
        width: 69.333%;
    }
    .elementor-33 .elementor-element.elementor-element-726c7bf {
        width: 15%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-33 .elementor-element.elementor-element-179d4d1 {
        width: 65%;
    }
    .elementor-33 .elementor-element.elementor-element-30f3a6a {
        width: 10%;
    }
    .elementor-33 .elementor-element.elementor-element-726c7bf {
        width: 25%;
    }
}